{% extends 'labs/base.html' %}

{% block title %}Laboratórios{% endblock %}

{% block content %}
<h2 class="mb-4">Laboratórios Disponíveis</h2>

<div class="row">
    {% for laboratorio in laboratorios %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ laboratorio.nome }}</h5>
                <p class="card-text">{{ laboratorio.descricao|truncatechars:100 }}</p>
                <p class="card-text"><small class="text-muted">Capacidade: {{ laboratorio.capacidade }} pessoas</small></p>
                <a href="{% url 'laboratorio_detail' laboratorio.pk %}" class="btn btn-primary">Detalhes</a>
                
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}