{% extends 'labs/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Registrar{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header">
                <h4>Criar uma conta</h4>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary mt-3">Registrar</button>
                </form>
                <div class="mt-3">
                    <p>Já tem uma conta? <a href="{% url 'login' %}">Entrar</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}